doctype html
html
  head
    title ChartsJS
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js')
    script.
      var myChart = new Chart({...});
    style.
      body        { padding-top:80px; word-wrap:break-word; }
  body
    .container
      .page-header.text-center
        h1
          span.fa.fa-anchor
          |  Profile Page
        a.btn.btn-default.btn-sm(href='/logout') Logout
        a.btn.btn-default.btn-sm(href='/journal') Journal
      .row
        if messages.length > 0
          .alert.alert-success=messages
        // LOCAL INFORMATION
        .col-sm-6
          .well
            h3
              span.fa.fa-user
              |  Local
            p
              strong id
              | : 
              span=user.id
              br
              strong email
              | : 
              span=user.local.email
              br
              strong password
              | : 
              span=user.local.password
        .col-sm-6
          canvas#myChart
            script.

              var actualDates = [];
              var i = 0; 

              for (i = 0; i <#{dates.length}; i++){
                actualDates[i] = "#{dates}".split(",")[i];
                }


              var ctx = document.getElementById("myChart");
              var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels:  actualDates,
                  datasets : [
                      {
                          label: "My Mood",
                          data: [#{emotionDataJoy}],
                          lineTension: 0.1,
                          backgroundColor: "rgba(75,192,192,0.4)",
                          borderColor: "rgba(75,192,192,1)",
                          borderCapStyle: 'butt',
                          borderDash: [],
                          borderDashOffset: 0.0,
                          borderJoinStyle: 'miter',
                          pointBorderColor: "rgba(75,192,192,1)",
                          pointBackgroundColor: "#fff",
                          pointBorderWidth: 1,
                          pointHoverRadius: 5,
                          pointHoverBackgroundColor: "rgba(75,192,192,1)",
                          pointHoverBorderColor: "rgba(220,220,220,1)",
                          pointHoverBorderWidth: 2,
                          pointRadius: 1,
                          pointHitRadius: 10,
                          spanGaps: false,
                      }
                  ]
                },
                options: {

                  hover: {
                      // Overrides the global setting
                      mode: 'label'
                  },
                  scales: {
                    xAxes: [{
                        display: false
                    }],

                    yAxes: [{
                        stacked: true
                    }]
                  },
                }
              });
